<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入公用部分 -->
    <script th:replace="common/head::static"></script>
    <!-- 样式 -->
    <link th:href="@{/sensordata/css/sensordata.min.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <form class="layui-form" >
                    <div class="layui-inline layui-form-item">
                        <label class="layui-form-label">选择厕所:</label>
                        <div class="layui-input-block">
                            <select id='wcSelector' name="wcList" lay-verify="required" lay-filter="wcInfoSelector">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline layui-form-item">
                        <label class="layui-form-label">开始时间:</label>
                        <div class="layui-input-block">
                            <input type="text" id="startTimePicker" class="layui-input" placeholder="请选择时间" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-inline layui-form-item">
                        <label class="layui-form-label">结束时间:</label>
                        <div class="layui-input-block">
                            <input type="text" id="endTimePicker" class="layui-input" placeholder="请选择时间" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-inline tool-btn layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" id="rqueryButton"><i class="layui-icon layui-icon-search"></i>查询</button>
                        </div>
                    </div>
                </form>
                <!-- 表格主体 -->
                <table class="layui-hide" id="sensorDataTable" lay-filter="sensorDataFilter"></table>
            </div>
        </div>
    </div>
</div>
</body>
<!-- js -->
<script th:src="@{/sensordata/js/sensordata.min.js}"></script>
</html>