<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入公用部分 -->
    <script th:replace="common/head::static"></script>
    <!-- 样式 -->
    <link th:href="@{/sensordata/css/waterusage.min.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <form class="layui-form" >
                    <div class="layui-inline layui-form-item">
                        <label class="layui-form-label">选择厕所:</label>
                        <div class="layui-input-block">
                            <select id='wcSelector' name="wcList" lay-verify="required" lay-filter="wcInfoSelector">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline layui-form-item">
                        <label class="layui-form-label">开始时间:</label>
                        <div class="layui-input-block">
                            <input type="text" id="startDatePicker" class="layui-input" placeholder="请选择日期" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-inline layui-form-item">
                        <label class="layui-form-label">结束时间:</label>
                        <div class="layui-input-block">
                            <input type="text" id="endDatePicker" class="layui-input" placeholder="请选择日期" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-inline tool-btn layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" id="rqueryButton"><i class="layui-icon layui-icon-search"></i>查询</button>
                        </div>
                    </div>
                </form>
                <div class="layui-tab layui-tab-brief"  lay-filter="waterUsageTabFilter">
                    <ul class="layui-tab-title">
                        <li class="layui-this" lay-id="tableLi">表格</li>
                        <li lay-id="chartLi">图表</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            <table class="layui-hide" id="waterUsageTable" lay-filter="waterUsageFilter"></table>
                        </div>
                        <div class="layui-tab-item">
                            <div class="panel panel-default" id="chart-panel">
                                <div class="panel-body mychart" id="chart">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- js -->
<script th:src="@{/sensordata/js/waterusage.min.js}"></script>
</html>