<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入公用部分 -->
    <script th:replace="common/head::static"></script>
    <!-- 样式 -->
    <link th:href="@{/warndata/css/warndata.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <form class="layui-form" >
                    <div class="layui-inline layui-form-item">
                        <label class="layui-form-label">选择厕所</label>
                        <div class="layui-input-block">
                            <select id='wcSelector' name="wcList" lay-verify="required" lay-filter="wcInfoSelector">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline layui-form-item">
                        <label class="layui-form-label">开始时间:</label>
                        <div class="layui-input-block">
                            <input type="text" id="startDatePicker" class="layui-input" placeholder="请选择日期">
                        </div>
                    </div>
                    <div class="layui-inline layui-form-item">
                        <label class="layui-form-label">结束时间:</label>
                        <div class="layui-input-block">
                            <input type="text" id="endDatePicker" class="layui-input" placeholder="请选择日期">
                        </div>
                    </div>
                    <div class="layui-inline tool-btn layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" id="rqueryButton"><i class="layui-icon layui-icon-search"></i>查询</button>
                        </div>
                    </div>
                </form>
                <!-- 表格主体 -->
                <table class="layui-hide" id="warnDataTable" lay-filter="warnDataFilter"></table>

              <!--  <script type="text/html" id="warnDataTableBarDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                </script>-->
            </div>
        </div>
    </div>
   <!-- &lt;!&ndash; 操作表单 &ndash;&gt;
    <div class="layui-col-md4">
        <div class="layui-card">
            <div class="layui-card-header">操作表单</div>
            <div class="layui-card-body">
                <form id="warnDataForm" class="layui-form layui-form-pane">
                    <div class="layui-form-item">
                        <label class="layui-form-label">开始时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="time" autocomplete="off" placeholder="总线ID"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">处理时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="disposeTime" autocomplete="off" placeholder="厕位标识ID"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">处理状态</label>
                        <div class="layui-input-block">
                            <input type="text" name="status" autocomplete="off" placeholder="厕所类型"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">厕所ID</label>
                        <div class="layui-input-block">
                            <input type="text" name="wcId" autocomplete="off" placeholder="厕所类型"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">开关ID</label>
                        <div class="layui-input-block">
                            <input type="text" name="switchId" autocomplete="off" placeholder="厕所类型"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <input type="text" name="disposeInfo" autocomplete="off" placeholder="厕所类型"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <a class="layui-btn" onclick="warnDataFormSave()">保存</a>
                        </div>
                    </div>
                    &lt;!&ndash; 隐藏域 &ndash;&gt;
                    <input type="text" name="id" hidden="hidden"/>
                </form>
-->
            </div>
        </div>
    </div>
</div>
</body>
<!-- js -->
<script th:src="@{/warndata/js/warndata.js}"></script>
</html>