<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入公用部分 -->
    <script th:replace="common/head::static"></script>
    <!-- 样式 -->
    <link th:href="@{/sensorconfig/css/sensorconfig.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="layui-row layui-col-space15">
    <div class="layui-col-md8">
        <div class="layui-card">
            <div class="layui-card-header">传感器配置</div>
            <div class="layui-card-body">
                <!-- 表格主体 -->
                <table class="layui-hide" id="sensorConfigTable" lay-filter="test"></table>
                <!-- 模板 -->
                <script type="text/html" id="sensorConfigTableToolbarDemo">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" lay-event="addData">新增</button>
                        <input type="text" id="queryBySensorConfigInfo" name="queryBySensorConfigInfo" autocomplete="off"
                               placeholder="请输入厕所名称" class="layui-input layui-btn-sm">
                        <button class="layui-btn layui-btn-sm" lay-event="query">查询</button>
                    </div>
                </script>
                <script type="text/html" id="sensorConfigTableBarDemo">
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                </script>
            </div>
        </div>
    </div>
    <!-- 操作表单 -->
    <div class="layui-col-md4">
        <div class="layui-card">
            <div class="layui-card-header">操作表单</div>
            <div class="layui-card-body">
                <form id="sensorConfigForm" class="layui-form layui-form-pane">
                    <div class="layui-form-item">
                        <label class="layui-form-label">总线ID</label>
                        <div class="layui-input-block">
                            <input type="text" name="modbusId" autocomplete="off" placeholder="总线ID"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">输出ID</label>
                        <div class="layui-input-block">
                            <input type="text" name="outId" autocomplete="off" placeholder="输出ID"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">动作值</label>
                        <div class="layui-input-block">
                            <input type="text" name="limitVal" autocomplete="off" placeholder="动作值"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">解除值</label>
                        <div class="layui-input-block">
                            <input type="text" name="limitDownVal" autocomplete="off" placeholder="解除值"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">传感器类型</label>
                        <div class="layui-input-block">
                            <input type="text" name="sensorType" autocomplete="off" placeholder="传感器类型"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <a class="layui-btn" onclick="sensorConfigFormSave()">保存</a>
                        </div>
                    </div>
                    <!-- 隐藏域 -->
                    <input type="text" name="id" hidden="hidden"/>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
<!-- js -->
<script th:src="@{/sensorconfig/js/sensorconfig.js}"></script>
</html>